<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formGroupName="personalData">
    <label>Name</label>
    <input formControlName="name">
    <p *ngIf="myForm.get('personalData')?.get('name')?.touched && myForm.get('personalData')?.get('name')?.invalid">
      <!-- You must enter a valid name! -->
      <span *ngIf="myForm.get('personalData')?.get('name')?.hasError('required')">
        Name cannot be empty!
      </span>
      <span *ngIf="myForm.get('personalData')?.get('name')?.hasError('nameForbidden')">
        You must enter a valid name!
      </span>
    </p>
    <label>Gender</label>
    <input type="radio" formControlName="gender" value="male">male
    <input type="radio" formControlName="gender" value="female">female
    <label>Age</label>
    <input type="number" formControlName="age">
  </div>
  <label>Mail</label>
  <input type="mail" formControlName="mail">
  <label>Password</label>
  <input type="password" formControlName="password">
  <label>Secret question</label>
  <select formControlName="secret">
    <option value="pet">What was the name of your first pet?</option>
    <option value="team">What is the name of your favourite football team?</option>
  </select>
  <label>Your answer</label>
  <textarea formControlName="answer" cols="30" rows="2"></textarea>
  <div formArrayName="languages">
    <label>Known languages</label>
    <button type="button" (click)="onAddLanguages()">Add a language</button>
    <div *ngFor="let item of languages.controls; let i = index">
      <input type="text" [formControlName]="i">
    </div>
  </div>
  <br>
  <button type="submit" [disabled]="myForm.invalid">Submit data</button>
</form>