<div *ngIf="bool">
  <app-life-cycle (boolEvent)="updateBool($event)" [name]="label"></app-life-cycle>
  <app-servers></app-servers>
  <app-string-interpolation></app-string-interpolation>
  <app-property-binding></app-property-binding>
  <app-event-binding></app-event-binding>
  <app-two-way-binding></app-two-way-binding>
  <app-parent></app-parent>
  <app-myparent></app-myparent>
  <app-variable-template></app-variable-template>
  <app-main></app-main>
  <app-ng-style></app-ng-style>
  <app-ng-class></app-ng-class>
  <app-ng-if></app-ng-if>
  <app-ng-switch></app-ng-switch>
  <app-ng-for></app-ng-for>
</div>
<div *ngIf="!bool">
  <app-attribute-directive></app-attribute-directive>
</div>