<div *ngIf="false">
  <app-life-cycle (boolEvent)="updateBool($event)" [name]="label"></app-life-cycle>
  <app-servers></app-servers>
  <app-string-interpolation></app-string-interpolation>
  <app-property-binding></app-property-binding>
  <app-event-binding></app-event-binding>
  <app-two-way-binding></app-two-way-binding>
  <app-parent></app-parent>
  <app-myparent></app-myparent>
  <app-variable-template></app-variable-template>
  <app-main></app-main>
  <app-ng-style></app-ng-style>
  <app-ng-class></app-ng-class>
  <app-ng-if></app-ng-if>
  <app-ng-switch></app-ng-switch>
  <app-ng-for></app-ng-for>
  <app-attribute-directive></app-attribute-directive>
  <app-structure-directive></app-structure-directive>
  <app-application></app-application>
  <app-basic-routing></app-basic-routing>
  <app-routing></app-routing>
  <app-basic-form></app-basic-form>
  <app-basic-ngForm></app-basic-ngForm>
  <app-basic-control-ngModel></app-basic-control-ngModel>
  <app-basic-validators></app-basic-validators>
  <app-td-template></app-td-template>
</div>
<div *ngIf="true">
  <app-reactive-form></app-reactive-form>
</div>